@model LogOnModel

@using (Html.BeginForm())
{

<div class="floatleft">
    <table style="width: 100%">
        <tr>
            <td style="width: 160px">
                Username *
            </td>
            <td>
                @Html.TextBoxFor(m => m.UserName)
            </td>
        </tr>
        <tr>
            <td>
                Password *
            </td>
            <td>
                @Html.PasswordFor(m => m.Password)
            </td>
        </tr>
        <tr>
            <td>
                Confirm Password *
            </td>
            <td>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" class="red-Metro-Button" value="Logon" />
            </td>
        </tr>
    </table>
</div>


<div class="clearfloat">
</div>
}

@section JS {
<script type="text/javascript">
    $("form").validate({
        rules: {
            UserName: "required",
            Password: "required",
            ConfirmPassword: { equalTo: "#Password" },
        },
        messages: {
            UserName: "",
            Password: "",
            ConfirmPassword: ""
        }
    });
</script>
}