.messDiv {
    float: right;
    position: relative;
}
.convDiv {
    width: 37em;
    max-height: 40em;
    min-height: 15em;
    overflow-y: auto;
    text-shadow: 0 0 .01em rgba(0,0,0,.5);
    font-size: 1em;
}

.convDiv > div
{
    margin-bottom:.5em;   
}

.convDiv > div > div
{
    display: inline-block;
}

.rightFrame
{
    text-align: right;    
}

.roundDiv
{
    word-break: break-word;
    position: relative;
    border-radius: .3em;
    padding: .3em 1em .6em .6em;
    text-align: left;
    max-width: 23em;   
    vertical-align:middle;
    min-width: 2em;
}

.Corner
{
    vertical-align: top;
    margin-top: .3em;
}

.leftCorner
{
    border-top: .6em solid #FEE0EF;
    border-left: .6em solid transparent;
}
.rightCorner
{
    border-top: .6em solid #BAE3FF;
    border-right: .6em solid transparent;
}
.pink
{
    background-color: #FEE0EF;
}

.blue
{
    background-color: #BAE3FF;
}
.mess-status {
    position: absolute;
    right:  .3em;
    bottom: .2em;
    font-size: .7em;
    color: gray;
}
.time
{
    color: Gray;
    font-size: 0.7em;
}
.gps
{
    background: url("Location2.png") no-repeat;
    width:32px;
    height:32px;
    vertical-align:middle;
    display:inline-block;
}
.notify_message 
{
    background: url("notifications-on.png") no-repeat;
}
.notify_message:hover
{
    background: url("notifications-off.png") no-repeat;
}
.notify_message_off
{
    background: url("notifications-off.png") no-repeat;
}
.notify_message_off:hover
{
    background: url("notifications-on.png") no-repeat;
}
#emoticon_list {
    display: none;
    width: 16em;
    border-radius: 1em;
    background-color: aliceblue;
    padding: .5em;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.2);
    position: absolute;
    bottom: 3em;
}
#emoticon_list ul {
    height: 13em;
    overflow: auto;
    padding: 0;
    margin: 0;
}
#emoticon_list li {
    display:inline-block;
    padding:.1em;
}
#emoticon_list img {
    width:32px;
    cursor: pointer;
    transform: translateZ(0);
}
#emoticon_list img:hover {
    transform:scale(1.3);
}

.key_emoticon {
    border-top: 1px solid lightgrey;
    margin-top: .5em;
}