@{
    ViewBag.Title = "Chat";
}

<div id="contact_list">
    <div class="contact_title">Contact list</div>
</div>

<div id="templateDiv" class="hidden" >
    <div class="contact clearfix" data-unread_cnt="0">
        <div class="name_contact"></div>
        <span class="notify"></span>
    </div>

    <div class="rightFrame">
        <div class="time">(p0)</div>
	    <div class="roundDiv blue">
            <div class="mess-status"></div>
	        <span>(p1)</span>
	    </div><!--
        --><div class="Corner rightCorner"></div>
    </div>

    <div class="leftFrame">
	    <div class="Corner leftCorner"></div><!--
        --><div class="roundDiv pink">
	        <span>(p1)</span>
	    </div>
        <div class="time">(p0)</div>
    </div>

    <div class="convDiv"></div>

</div>

<div class="messDiv">
    <div class="mess_header clearfix">
        <div class='buddy_name'></div>
        <div class='mess_config'>
            <div class='icon32 notify_message' onclick='toggle_notify();'></div>
        </div>
    </div>

    <div class='composeMessage'>
        <input type="button" id="btn_emoticon" value="Emoj" onclick="show_emoticon_list();"/>
        <textarea id="message" rows='2' disabled></textarea>
        <input type="button" id="sendmessage" value="Send" />
    </div>
    <div id="emoticon_list">
        <ul></ul>
        <div class="key_emoticon">qw f</div>
    </div>
</div>

@section CSS {
<link href="@Url.Content("~/Content/Message.css")" rel="stylesheet" type="text/css" />

<style type="text/css">
    .notify {
        background-color: orangered;
        color: white;
        border-radius: 20%;
        padding: .3em;
        font-size:.7em;
        float: right;
    }
    span:empty {
      display:none;
    }
    .name_contact {
        width: 8em;
        float: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    #contact_list {
        float: left;
        /*border: 1px solid gray;*/
    }
    #contact_list > div {
        /*border-top: 1px solid gray;*/
        background-color:#F0F0F0;
        margin:1px;
        padding: 5px;
    }
    #contact_list div:not(:first-child):hover {
        background-color:lightblue;
    }
    #contact_list .contact_title {
        border-top: none;
        background-color:firebrick;
        color:white;
    }
    #contact_list div.selected
    {
        background-color:lightblue;
    }
    div.online {
        color:Blue;
    }
    div.offline {
        color:Gray;
    }

    #message 
    {
        width: 500px;
    }
    .composeMessage textarea, .composeMessage input
    {
        vertical-align:middle;
    }
    .mess_header 
    {
        font-size: 2em;
        border-bottom: 1px solid grey;
        margin-bottom: 15px;
        padding: 5px;
    }
    .mess_header div
    {
        display:inline-block;
    }
    .icon32
    {
        width:32px;
        height:32px;
    }
    .mess_config
    {
        float: right;
    }
        
</style>
}
@section JS {
    <script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/aho-corasick.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var baseUrl = '@Url.Content("~/Content/Emoticons/")';
    </script>
}
